*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background: #ced8ff;
    transition: 0.5s;
}

.container.dark{
    background: #222;

}

.map-items {
    margin-top: 20px;
    display: flex; 
    justify-content: space-between; 
  }

.leaflet-container{
    height: 600px;
    width: 80%;
    justify-content: center;
    align-items: center;
}